<h1>Editing registration_response</h1>

<%= render 'form' %>

<%= link_to 'Show', [@registration, @registration_response] %> |
<%= link_to 'Back', registration_registration_responses_path(@registration) %>
